body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.carousel-item {
  padding: 7% 15%;
}

.download-button {
  margin: 5% 3% 5% 0
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

.icon {
  margin-bottom: 1rem;
}

#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.cardbutton {
  width: 100%;
}

#pricing {
  padding: 100px;
}

@media (max-width: 1280px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}

#footer {
  padding: 7% 15%;
}

.socialicon {
  margin: 20px 10px;
}
